.top-navbar {
  // position: relative;
  z-index: 2001;
  color: $displaycolor;
  background: $bgcolor;
}

.logo-img {
  width: 120px;
}

ul.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  .nav-link {
    color: $displaycolor;
  }
  &.active {
    margin: 0;
    padding: 0;
    &:hover, &:active {
      background: none;
    }
  }
  &:hover {
    background: $displaycolor;
    .nav-link {
      color: $bgcolor;
    }
  }
  &:active {
    background: $bgcolor;
    .nav-link {
      color: $displaycolor;
    }
  }
}

.form-custom {
  input.input-custom {
    color: darken($bgcolor, 70%);
    border: 1px solid $displaycolor;
  }
  .submit-custom {
    font-size: 1.8rem;
    border: 1px solid $displaycolor;
    color: $displaycolor;
    background: $bgcolor;
    &:hover {
      color: $bgcolor;
      background: $displaycolor;
    }
  }
}

.dropdown-menu {
  color: $bgcolor;
  background: $displaycolor;
  border: 1px solid $bgcolor;
  .dropdown-item {
    color: $bgcolor;
    &:hover {
      color: $displaycolor;
      background: $bgcolor;
    }
  }
}

button.navbar-toggler {
  color: lighten($bgcolor, 70%);
  background: none;
  .navbar-toggler-icon {
    color: $displaycolor;
  }
  &:hover {
    .navbar-toggler-icon {
      color: lighten($bgcolor, 15%);
      &:active {
        color: $displaycolor;
      }
    }
  }
}

.navbar-toggle-hidden {
  display: none;
}

.navbar-toggle-active, {
  display: flex;
}

@media (min-width: 992px) {
  .logo-img {
    width: 130px;
  }
  .nav-item .nav-link {
    font-size: .9rem;
  }
}

@media (min-width: 1200px) {
  .logo-img {
    width: 140px;
  }
  .nav-item .nav-link {
    font-size: 1rem;
  }
}
