$main-color: rgb(30,30,30);
$main-color-dark: darken(adjust-hue(rgb(30,30,30), 45deg), 10%);
$bg-color: rgb(240,240,240);
$nav-text: rgb(240,240,240);
$text-color: $main-color-dark;

body {
	background: $bg-color;
}

@mixin link($color, $hover) {
	text-decoration: none;
	color: $color;
	&:hover {
		text-decoration: none;
		color: $hover;
	}
}

@mixin button-link($color, $bg) {
	text-decoration: none;
	color: darken($color, 10%);
	background: transparentize($bg, 0.5);
	&:hover {
		color: $color;
		background: $bg;
	}
}

// AppBar
.appbar {
	 background: $main-color;
	 height: 56px;
}
.navbar-brand, .menubar {
	@include link($nav-text, darken($nav-text, 10%));
}
.new, .featured {
	@include link($text-color, lighten($text-color, 15%));
}
.search {
	background: #fff;
}

.newsletter {
	width: 100%;
	height: 300px;
	background: url("https://source.unsplash.com/dkvoEC3vxwU/1200x800") no-repeat;
	background-size: cover;
	background-position: center;
	.newsletter-subscribe {
		@include button-link($bg-color, $text-color);
	}
}

// Footer
.social-link {
	@include link(lighten($text-color, 15%), $text-color);
}

.copyright {
	background: darken($bg-color, 10%);
}
